ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

li a {
    text-decoration: none;
    color:white;
    width:100%;
    margin-bottom:2%;
    text-align: center;
    display:inline-block;
    padding:10px 0px;
}
/*home style*/
.list1 { 
    background-color: rgb(105, 236, 105);
}
/*about style*/
.list2 {
    background-color: rgb(18, 104, 18);
}
/*home style*/
.list3 {
    background-color: rgb(241, 241, 11);
}
/*more style*/
.list4 {
    background-color: rgb(245, 66, 140);
}
/*contact style*/
.list5 { 
    background-color: rgb(85, 4, 74);
}

@media only screen and (min-width:700px){
    .container{
        width:100%;
        margin-right:auto;
        margin-left: auto;
    }

    .container::after{
        clear:both;
        content:"";
        display:table;
    }

    li {
        float:left;
        width:20%;
    }

    li a {
        margin-bottom:0;
        border-radius: 30px;
        text-align: center;
    }

    ul {
        position: relative;
    }
    /*about position*/
    .pos-list2 {
        position: absolute;
        left:16%;
        z-index:1;
    }
    /*home position*/
    .pos-list3 {
        position: absolute;
        left:32%;
        z-index:1;
    }
    /*contact position*/
    .pos-list4{
        position: absolute;
        bottom:20;
        left:48%;
        z-index:1;
    }
    /*more position*/
    .pos-list5 {
        position: absolute;
        bottom:20;
        left:64%;
        z-index:1;
    }
}

